<select id="filtertype" class="bg-ci-beige-1 text-xl w-100 py-2 px-4 rounded-full border-2 border-ci-brown-2 text-ci-brown-2">
    <option value="" selected disabled>เลือกประเภท</option>
    <option value="all">ทั้งหมด</option>
    <option value="food">อาหาร</option>
    <option value="dessert">ขนมหวาน</option>
    <option value="drinks">เครื่องดื่ม</option>
</select>

<select id="filterregion" class="bg-ci-beige-1 text-xl w-100 py-2 px-4 rounded-full border-2 border-ci-brown-2 text-ci-brown-2">
    <option value="" selected disabled>เลือกประเทศ</option>
    <option value="all">ทั้งหมด</option>
</select>

<div id="ffopt">
    <select id="filterrpgclass" class="bg-ci-beige-1 text-xl w-100 py-2 px-4 rounded-full border-2 border-ci-brown-2 text-ci-brown-2">
        <option value="" selected disabled>เลือกประเภทภูติอาหาร</option>
        <option value="all">ทั้งหมด</option>
        <option value="attack">โจมตี</option>
        <option value="defense">ป้องกัน</option>
        <option value="support">สนับสนุน</option>
        <option value="mage">เวทมนตร์</option>
    </select>
</div>
<button type="button" onclick="reloadList()" class="bg-ci-red-1 text-white px-4 py-2 rounded-lg flex justify-center items-center gap-2">Filter<i class="fa-solid fa-filter"></i></button>