<button id="closebutton" onclick="closeOverlay()" class="cursor-pointer fixed right-4 top-4">
    <i class="fa-solid fa-xmark text-7xl text-white"></i>
</button>

<div id="panel" class="flex flex-col">
    <!-- Top content -->
    <section class="flex flex-col sm:flex-row justify-evenly [&>div]:w-fit sm:[&>div]:w-1/2">
        <div id="description" class="p-10 bg-ci-green-2 text-white m-5 border-ci-brown-1 border-20 shadow-inner shadow-ci-green-3">
            <div class="flex justify-center gap-10 flex-col lg:flex-row">
                <img draggable="false" src="images/source/mapotofu.jpg" class="w-75 h-75 max-w-full max-h-full object-center object-scale-down">
                <div id="ff" class="flex flex-col justify-center">
                    <img draggable="false" src="images/icon/mapotofu.webp" class="w-50 h-50 object-center object-scale-down">
                    <ul class="flex [&>li]:w-1/2 [&>li]:flex [&>li]:flex-col [&>li]:items-center [&>li]:gap-2">
                        <li><span class="border-b-2">ระดับ</span> <img id="rarity" class="w-12 object-center"></li>
                        <li><span class="border-b-2">อาชีพ</span> <img id="rpgclass" class="w-10 object-center"></li>
                    </ul>
                </div>
            </div>
            <div class="flex gap-4 flex-col">
                <h1 class="text-2xl font-bold"></h1>
                <a target="_blank" href="#" class="bg-ci-red-1 text-white px-4 py-2 rounded-xl w-40 flex justify-center gap-2 items-center">
                    แหล่งข้อมูล <i class="fa-solid fa-book text-xl"></i>
                </a>
                <p></p>
            </div>
        </div>

        <div class="p-10 text-ci-brown-1">
            <h1 class="text-3xl">วัตถุดิบ</h1>
            <ul id="ingredients" class="list-disc marker:mr-2 marker:scale-40 text-lg"></ul>
        </div>
    </section>

    <!-- SCROLL CONTAINER -->
    <section id="method-wrapper" class="flex-1 overflow-y-auto text-ci-brown-1">
        <section id="method" class="px-10">
            <h1 class="text-3xl">วิธีการทำ</h1>
        </section>
    </section>

    <!-- Footer -->
    <section class="flex justify-around items-center h-30 bg-ci-beige-2
        [&>a]:text-white [&>a]:bg-ci-red-1 [&>a]:p-2 [&>a]:rounded-lg
        [&>a]:w-25 [&>a]:flex [&>a]:justify-evenly [&>a]:items-center">
    </section>

</div>
