<i class="fa-solid fa-xmark text-3xl absolute top-4 right-4" onclick="closeMenu()"></i>
<div class="p-5">
    <h1 class="text-5xl">Menu</h1>
    <nav id="mainmenu" class="flex flex-col py-5">
        <div class="flex justify-left items-center text-xl gap-2">
            <input onclick="toggleFoodFantasyMode()" checked type="checkbox" id="ffmode" class="w-5 h-5"><span>โหมดเกม Food Fantasy</span>
        </div>
    </nav>
</div>

<div class="opacity-35 p-10 flex gap-3 items-center absolute bottom-30">
    <i class="fa-solid fa-headphones text-lg"></i>
    เว็บไซต์นี้มีการใช้เสียง โปรดใส่หูฟังเพื่อประสบการณ์ที่ดีที่สุด
</div>

<div id="musiczone" class="flex justify-center items-center p-2 my-5 bg-cover bg-center absolute bottom-0 w-full bg-gloriville text-ci-brown-2">
    <div id="cd" class="justify-center items-center w-24 h-24 bg-linear-to-b from-slate-700 via-slate-950 to-slate-700 rounded-full flex">
        <div class="w-10 h-10 rounded-full"></div>
    </div>
    <div class="flex flex-col w-3/4">
        <h1 id="musicname" class="text-center text-xl">Restaurant</h1>
        <nav id="audiocontrollernav" class="flex justify-evenly p-3 [&>button]:text-2xl">
            <button id="mute" onclick="toggleAudio()" class="fa-solid fa-volume-high"></button>
            <button id="playbefore" onclick="playBefore()" class="fa-solid fa-backward"></button>
            <button id="pause" onclick="togglePauseAudio()" class="fa-solid fa-pause"></button>
            <button id="playnext" onclick="playNext()" class="fa-solid fa-forward"></button>
        </nav>
    </div>
</div>
