@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: "Mitr", sans-serif;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(#eef, rgb(201, 232, 221));
}

form {
    border: 1px solid gray;
    padding: 50px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
}

legend {
    text-align: center;
    font-size: 20px;
}

form {
    width: 30%;
}

input {
    padding: 10px;
}

div {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

div label {
    text-align: left;
    width: 100%;
}

button {
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: lightblue;
    font-size: 30px;
    font-weight:normal
}