@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Athiti", sans-serif;
    user-select: none;
}

body {
    height: 100vh;
}
section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
}
.number {
    width: 100px;
    height: 100px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin: 0 10px;
    background-size: auto;
    background-position: center;
}

button {
    padding: 20px;
    width: 200px;
    border: none;
}