* {
    padding: 0;
    margin: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.menulist {
    width: 100%;
    box-shadow: 10px 10px 15px burlywood;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(113, 79, 45);
    border-bottom: 4px solid rgb(113, 79, 45);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 10px;
    background-color: bisque;
}

.menulist img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.menulist a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: red;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.menulist a i {
    opacity: 0;
    transition: all;
    transition-duration: 300ms;
}

.menulist a:hover i {
    opacity: 1;
}

#gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 2em;
    padding: 20px;
}