* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

section {
    background-color: rgba(240, 240, 255, 0.8);
    height: 80vh;
}

section article {
    display: flex;
    justify-content: space-around;
}

#foods {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

#souls {
    height: 80vh;
}