* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    display: flex;
    justify-content: space-evenly;
}

.gallery {
    border: 1px solid gray;
    width: 40%;
    text-align: center;
}

.gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.gallery h1 {
    font-size: 24px;
}