* {
    padding: 0;
    margin: 0;
    user-select: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(#900, #300);
}

form {
    width: 300px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

form input {
    height: 30px;
    padding: 3px 20px;
    border: none;
}

button {
    border-radius: 5px;
    border: none;
    padding: 3px 10px;
    background-image: linear-gradient(rgb(123, 175, 111), rgb(68, 126, 68));
    color: white;
    font-weight: 500;
    transition: all 0.1s linear;
}

button:hover {
    transform: scale(1.1);
}

table {
    width: 300px;
    color: white;
}

td {
    padding: 5px 20px;
    color: white;
    text-align: center;
}

.fade-row {
  opacity: 0;
  transform: translateX(-20px);
  animation: fadeIn 0.4s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
