@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap');

* {
    font-family: "Nova Slim", system-ui;
    user-select: none;
}


section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, 1fr);    /* 2 rows */
    gap: 10px; /* optional */
}

.gallery {
    background:
  linear-gradient(
    to bottom right,
    rgb(223, 166, 54, 0.5),
    rgba(157, 101, 32, 0.7),
    rgba(145, 46, 46, 0.9)
  ),
  url("Gloriville.webp");
    background-size: cover;
    background-position: center;
    border: 7px solid rgb(225, 191, 126);
    margin: 10px;
    color: white;
    text-align: left;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    transition: 100ms linear;
}

.gallery:hover {
    transform: scale(1.05);
    transition: 100ms linear;
}

h1 {
    font-weight: 100;
    font-size: 30px;
}


.gallery img {
    width: 300px;
    height: 150px;
    background-position: center;
    object-fit: cover;
    border-radius: 5px;
}
