<h1 id="title"></h1>
<article>
    <div>
        <img id="foods" src="" alt="">
    </div>
    <div>
        <div>
            <h1>Ingredients:</h1>
            <ul id="ingredient">

            </ul>
        </div>
        <div>
            <h1>Nutrition Facts:</h1>
            <ul id="nutrient">

            </ul>
        </div>
        <div>
            <h1>Availability:</h1>
            <ul id="region">

            </ul>
        </div>
    </div>
</article>

<img id="souls" src="../image/asset/sachertorte_foodsouls.webp" alt="" draggable="false" style="position: fixed; z-index: -50; display: flex; top: 0;">