@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --breakpoint-sm: 680px;
  --breakpoint-md: 1000px;
  --breakpoint-lg: 1500px;

  --color-ci-beige-1: #F0D2AE;
  --color-ci-beige-2: #E0B48C;

  --color-ci-red-1: #890524;
  --color-ci-red-2: #57091d;

  --color-ci-brown-1: #6a4e4a;
  --color-ci-brown-2: #362320;

  --color-ci-green-1: #6b765c;
  --color-ci-green-2: #3b4a38;
  --color-ci-green-3: #1c2d2a;

  --color-food: #69c94e;
  --color-dessert: #bf4ec9;
  --color-drinks: #4e77c9;

  --font-ui: "Noto Serif", "Athiti", serif, sans-serif;
}