@import url('https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap');

* {
    font-family: "Nova Cut", system-ui;
}

th {
    font-size: 30px;
}

td {
    padding: 5px 20px;
    width: 200px;
}

.box {
        padding: 10px 20px;
}