<header>
    <h1>Welcome to Panda Company</h1>
    <img src="img/panda-logo.png" width="500" alt="Hello Panda Web Programming">
    <nav>
    <ul class="menuItems">
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create</a></li>
        <li><a href="/show">ShowData</a></li>
        <li><a href="/form">Form</a></li>
    </ul>
    </nav>
    </div>
</header>