* {
    padding: 0;
    margin: 0;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.box-content {
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    padding: 30px;
    margin: 10px;
    width: 25%;
    height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0;
}

p {
    color: gray;
}

@media screen and (max-width: 700px){
    main {
        flex-direction: column;
    }

    .box-content {
        width: calc(100% - 80px);
    }
}