@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap');

header {
    padding: 20px;
    color: goldenrod;
}

body {
    background-color: #462506;
}

main {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}

@media screen and (max-width: 1500px){
    main {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 1000px){
    main {
        grid-template-columns: auto;
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: "Nova Slim", system-ui;
    user-select: none;
}

.container {
    margin: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    border: 1px solid goldenrod;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: goldenrod;
    cursor: pointer;
    opacity: 0;
}

.container p {
    padding: 10px;
    height: 200px;
}

.title {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.container #titanicon {
    width: 40px;
    right: 30px;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    border: 1px solid goldenrod;
    padding: 10px;
    border-radius: 50%;
}

.container:hover #titanicon {
    animation: move 3s ease-in-out infinite;
    box-shadow: 0 0 10px gold;
}

.container #heirs {
    width: 90%;
    height: 50%;
    object-fit: cover;
    align-self: center;
}

@keyframes move {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}