* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

main {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}

.cards {
    width: 200px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.cards img {
    width: 100%;
}