@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Athiti", sans-serif;
}

table {
    border: 2px solid lightblue;
    border-spacing: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

th {
    background-color: azure;
    border-bottom: 2px solid lightblue;
}

table tr * {
    font-size: 20px;
    padding: 20px;
    width: 150px;
    border-left: 1px solid lightblue;
}

button {
    padding: 30px;
    width: 200px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 5px 5px 10px grey;
}